

.footer
{
    margin-top: 3vw;
    display: flex;
    background-color: rgb(215, 215, 214);
    padding-bottom: 4vw;
    padding-top: 3vw;
}

.footer .container
{

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.footer .container .section
{
    width: 30%;
    margin-left: 6%;
}

.footer .container .section ul
{
    margin-top: 1vw;
    margin-left: 1.5vw;
}